/* Style Sheet for Etch A Sketch */
* {
    margin: 0;
    padding: 0;
}
/* Fonts */
@font-face {
    font-family: "2Dumb";
    src: url(./fonts/2Dumb.woff2);
    src: url(./fonts/2Dumb.woff);
}
@font-face {
    font-family: "3Dumb";
    src: url(./fonts/3dumb.woff2);
    src: url(./fonts/3dumb.woff);
}

body {
    background: black;
    color: white;
    height: 100vh;
    width: 100%;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.grid {
    height: 250px;
    width: 250px;
    color: white;
    border: 30px solid darkred;
    border-radius: 10px;
    z-index:10;
    display: flex;
}
.column {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width:100%;
}
.cell {
    height:100%;
    width:100%;
    border: 1px solid darkslategrey;
    transition: background-color 3s;
}
.draw {
    transition: all 0.8s;
    background: darkslategrey;
}