/* Style Sheet for Etch A Sketch */
* {
    margin: 0;
    padding: 0;
    /* touch-action: none; */
}

/* Fonts */
@font-face {
    font-family: "2Dumb";
    src: url(./fonts/2Dumb.woff2);
    src: url(./fonts/2Dumb.woff);
}
@font-face {
    font-family: "3Dumb";
    src: url(./fonts/3dumb.woff2);
    src: url(./fonts/3dumb.woff);
}

/* Body */
body {
    box-shadow: inset 0 0 50px black;
    background: #2f4f4f;
    color: antiquewhite;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header {
    user-select: none;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "3dumb",sanserif;
    font-size: 3em;
    text-shadow: 0 15px 10px #000000;
}
.shakeZone {
    position: relative;
    background: transparent;
    height: 350px;
    width: 350px;
    z-index: 100;
}
.device {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 350px;
    background: #000000;
    border-radius: 15px;
    box-shadow: 0 10px 30px #000000;
    touch-action: none;
}
.border {
    height: 250px;
    width: 250px;
    padding: 50px;
    background: radial-gradient(ellipse at top,#ff0000 50%, transparent), 
    radial-gradient(ellipse at bottom,#ff0000 50%, transparent);
    border-radius: 15px;
    box-shadow: inset 0 -2px 10px 5px #00000090;
    &:hover {
        cursor: pointer;
    }
}
.logo {
    position: absolute;
    top: 15px;
    font-family: "3Dumb", sans-serif;
    font-size: 24px;
    left: 85px;
    text-shadow: 0 0 5px #000000;
    user-select: none;
}
.leftButton,
.rightButton {
    height: 30px;
    width: 30px;
    background-image: radial-gradient(white , antiquewhite 60%, rgb(165, 97, 42) 90%);
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 10px #000000;
    position: absolute;
    top: 300px;
    transition: all 0.2s;
    &:hover {
        cursor: pointer;
    }
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        box-shadow: inset 0 0 5px 1px #a5612a;
        border-radius: 50%;
        left: 4px;
        top: 4px;
    }
}
.leftButton {
    left: 5px;
}
.rightButton {
    left: 300px;
}
.grid {
    
    flex-shrink: 0;
    border: 2px solid rgba(0, 0, 0, 0.565);
    height: 250px;
    width: 250px;
    color: #ffffff;
    background-color: black;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #000000;
    &::before {
        content: "";
        height: inherit;
        width: inherit;
        position: absolute;
        box-shadow: inset 0 0 10px black;
        pointer-events: none;
    }
}
.column {
    display: flex;
    flex-direction: column;
    width:100%;
}
.cell {
    height:100%;
    width:100%;
    border-bottom: 1px solid rgba(47, 79, 79, 0.502);
    /* transition: background-color 0.1s; */
    background-color: rgb(156, 156, 156);
}
.output {
    user-select: none;
    margin-bottom: 20px;
    text-align: center;
    font-family: "2Dumb",sans-serif;
    font-size: 22px;
    text-shadow: 0px 2px 2px black;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 20px;
    background-image: linear-gradient(90deg, black, darkslategrey 50%, black);
    box-shadow: inset 0 0 15px black;
    &:hover {
        cursor: pointer;
    }
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-image: radial-gradient(white , antiquewhite 60%, rgb(165, 97, 42) 90%);
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}
.slider::-moz-range-thumb {
    height: 30px;
    width: 30px;
    background-image: radial-gradient(white , antiquewhite 60%, rgb(165, 97, 42) 90%);
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}
.infoButton {
    height: 30px;
    width: 30px;
    border: 3px solid antiquewhite;
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 0px 15px black;
    &&:hover {
        cursor: pointer;
        box-shadow: inset 0 0px 15px black;
    }
}
.infoButton::before,
.infoButton::after {
    content: "";
    width: 3px;
    background-color: antiquewhite;
    position: absolute;
    right: 13.5px;
}
.infoButton::before {
    height: 14px;
    bottom: 5px;
}
.infoButton::after {
    height: 3px;
    top: 5px;
}

.footer {
    user-select: none;
    background: rgb(28, 47, 47);
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 20px black;
    color:rgba(250, 235, 215, 0.7);
}
.footer a {
    color: inherit;
}


/* Mobile device settings */
@media(max-width: 400px) {
    .body {
        height: 100%;
    }
    .header {
        font-size: 2em;
    }
    .device {
        width: 300px;
        height: 300px;
    }
    .border {
        width: 200px;
        height: 200px;
    }
    .logo {
        font-size: 20px;
        left: 75px;
    }
    .grid {
        width: 200px;
        height: 200px;
    }
    .leftButton,
    .rightButton {
        top: 250px;
    }
    .rightButton {
        left: 250px;
    }
    .footer {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: smaller;
    }

    
}